@font-face {
    font-family: VCRPixels;
    src: url(../Assets/VCR_Pixels.ttf);
}
:root{
    --pixel-bg: #ffe291;
	/* ↑ Inner background color */
	
	--pixel-border: #3c5aa6;
	/* ↑ Inner border color */
	
	--pixel-border-2: #3c5aa6;
	/* ↑ Middle border color */
	
	--pixel-border-3: var(--pixel-border);
	/* ↑ Outer border color */
	
	--pixel: .125rem;
	/* ↑ Pixel size */
}
*{
    padding:0;
    margin:0;
    font-family: 'VCRPixels';
}
body{
 background-color: #181818;
}
.container{
    width:90%;
    margin:auto;
    padding-top:6%;
    display: flex;
	flex-direction: row;
    
}
.left-content, .right-content{
    flex-basis:50%;
}
.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 0.5fr));
    grid-gap:5rem;
}
.card{
    width:300px;
    height:100px;
    background-color: #ffe291;
    /* border-radius: 1rem; */
    /* border: 5px #3c5aa6 dashed; */
    padding:0 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 6px 5px 2px rgba(252,238,200,0.77);
    -moz-box-shadow: 1px 6px 5px 2px rgba(252,238,200,0.77);
    box-shadow:	
	/* Inner Background Color */
		0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
		0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
		
	/* Pixel Border Layer 1 */
		calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
		var(--pixel) 0 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		
	/* Pixel Border Layer 2 */
		calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
		calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 
		0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
		0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		
	/* Border Layer 3: --pixel-border-3 */
		calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
		calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
		0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
		0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
		0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 
		0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);;
    transition: transform 200ms ease-in-out;
}
.card:active { 
    transform: scale(0.98);
}
/* .card img{
    height: 50px;
    width: auto;
} */
.card h2{
	text-transform: capitalize;
}
.right-content{
	width: 50%;
	text-align: center;
    color:#e8dfdf;
	position:fixed;
	top: 100px;
	right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right-content img{
	margin:10px;

}
.right-content h1{
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	
}
.abilities{
	width: 26rem;
	height: fit-content;
	display: flex;
	justify-content: space-around;
	/* flex-direction: column; */
	align-items: center;
	margin: 2rem 0;
	line-height: 1.4;

}
.abilities .group{
	background-color: #b74555;
	color: #fafafa;
	padding: 0.5rem;
	font-size: 12px;
	border-radius: 8px;
	
}
.base-stats{
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.4;
	margin-top: 2rem;
}
.btn-group{
	display: flex;
}
.btn-group button{
	outline:none;
	border: none;
	width: 150px;
	padding: 1rem;
	margin: 1rem;
	font-size: 17px;
	background-color: #b74555;
	color: #fafafa;
	border-radius: 8px;

}